.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.row {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.row > * {
  flex: 1;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons > button {
  flex: 1;
}
